.container {
 /*  border: 1px solid salmon; */
}

body {
	# background-color: #f8f9fa;
	background-image: url("/imagenes/002.png");
	color: black;
	font-family: Arial;
	font-size: 16px;
}

/* Header */
.titulo {
	font-size: 20px;
	# color: white;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.container .cabecera .navbar a img {
	width: 125px;
	height: auto;
}

/* Fin header */

img {
	width: 100%;
	height: auto;
}

/* Contenido */

.contenido {
	background: #ffcc00;
	border-radius: 5px;
}

.contenido .direccion {
	padding-left: 5px;
	padding-right: 5px;
}

.contenido .direccion img {
	width: 100%;
	height: auto;
}

.contenido > p {
	# background-color: #950000;
	color: black;
    margin: auto;
    padding: 1rem;
}

.contenido .logo img {
	width: 300px;
	height: 300px;
}

.contenido p img {
	margin: auto;
	width: 125px;
	height: 125px;
	align-items: center;
	justify-self: center;
}

#logo-nosotros {
	max-width: 300px;
	height: auto;
}

/* Fin de contenido */

/* Carousel */

.carousel-inner img {
	width: 100%;
    height: auto;
    max-height: 500px;
    align-self: center;
    justify-items: center;
}

/* Fin de carousel */

.bordes {
	border: 5px solid #ffcc00;
}

.container .cabecera {
	background-color: #ffcc00;
}

/* Footer */

.container .pie .f1 a img,
.container .pie .f3 a img {
	width: inherit;
}

.container .pie .f1, .f2, .f3 {
	display: flex;
	justify-self: center;
	align-self: center;
}

.container .pie {
	font-size: 14px;
	padding: 1rem;
	border: 1px solid white;
	color: black;
}

.container .pie {
	background: inherit;
	# background-image: url("/imagenes/001.png");
}

#logo-footer {
	max-width: 150px;
	height: auto;
}

/* Fin footer */

/* Formulario Estilos */

.formulario {
	width: 70%;
	color: black;
	background: transparent;
	border:2px solid antiquewhite;
	border-radius: 25px;
	box-sizing: border-box;
	margin: 1rem auto;
}

.formulario form label,h3 {
	padding: 5px;
	# display: inline-block;
}

.formulario form input,textarea {
	width: 100%;
	padding: 5px;
	margin: auto;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.formulario form input[type=submit] {
	color: white;
	background: #4CAF50;
	width: inherit;
}

.formulario form div {
	margin-top: 5px;
	display:flex;
	justify-self: center;
	align-self: center;
}

.borde-blanco {
    border:2px solid white;
    margin: auto;
}
/* Fin formulario */