.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    /*justify-items: center;
    align-items: center;*/
    grid-template-areas: 
    "cabecera       cabecera        cabecera"
    "menu			menu			menu"
    "slider         slider          slider"
    "contenido        contenido         contenido"
    "contenido        contenido         contenido"
    "pie            pie                pie";
}

.container .cabecera {
    grid-column: cabecera;
    grid-row: cabecera;
    /*overflow: hidden;*/
    # width: 96%;
    # margin: auto;
    align-self: start;
    justify-self: stretch;
    text-align: center;
}


.cabecera-color {
   background: #ff9100;

}
.container .slider {
    # background: #9dcdec;
    grid-column: slider;
    grid-row: slider;
}

.container .menu {
	grid-column: menu;
	grid-row: menu;
}

.container .sidebar {
    # background: #07ca31;
    grid-column: sidebar;
    grid-row: sidebar;
}

.container .contenido {
    # background: #2f89fc;
    grid-column: contenido;
    grid-row: contenido;
}

.container .widget_01 {
    # background: #9dcdec;
    grid-column: widget_01;
    grid-row: widget_01;
}

.container .widget_02 {
    # background: #9dcdec;
    grid-column: widget_02;
    grid-row: widget_02;
}

.container .pie {
    # background: #ff9100;
    display: grid;
    grid-column: pie;
    grid-row: pie;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "f1     f2      f3"
        "f4     f4      f4"
    ;
}

@media screen and (max-width: 768px) {

    .container .pie {
        grid-template-areas:
                "f1		f1		f1"
                "f2		f2		f2"
                "f3		f3		f3"
                "f4		f4		f4"
    ;
    }

    .container .pie .f1 a img {
        max-width: 100px;
        height: auto;
    }

}

.container .pie .f1 {
    grid-column: f1;
    grid-row: f1;
}

.container .pie .f2 {
    grid-column: f2;
    grid-row: f2;
}

.container .pie .f3 {
    grid-column: f3;
    grid-row: f3;
}

.container .pie .f4 {
    grid-column: f4;
    grid-area: f4;
}